DATABASE_URL="postgresql://janedoe:mypassword@localhost:5432/mydb?schema=sample"
GRAFANA_URL="http://url:3000"
PANEL_PARSER_URL="http://url:8000"
GRAFANA_API_TOKEN='Bearer yourapikey'
AUTH_SECRET=auth.js-secret
AZURE_ID=azure-id
AZURE_SECRET=azure-secret
AZURE_TENANT_ID=azure-tenant-id
SMTP_USER=apikey
SMTP_PASSWORD=your-smtp-api-key
SMTP_HOST=smtp.sendgrid.net
SMTP_PORT=587
EMAIL_FROM=your-verified-sender-email
